body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-sb-aggro: "SB Aggro";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-71xl: 90px;
  --font-size-xl: 20px;
  --font-size-129xl: 148px;
  --font-size-61xl: 80px;
  --font-size-6xl-1: 25.1px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray: #a09c9c;
  --color-gray-100: #8a8a8a;
  --color-gainsboro-100: #e1e1e1;
  --color-dimgray: #646363;
  --color-darkslategray-100: #3e3e3e;
  --color-darkslategray-200: #393838;
  --color-darkslategray-300: #353535;
  --color-darkslategray-400: #303030;
  --color-whitesmoke: #f2f2f2;
  --color-gainsboro-200: #d9d9d9;

  /* Paddings */
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-xl: 20px;
}
